@import "../utils/breakpoints";

.container {
  width: 100%;
  margin: 0 auto;

  @include media("small") {
    max-width: 640px;
  }
  @include media("medium") {
    max-width: 768px;
  }
  @include media("large") {
    max-width: 1024px;
  }
}
