@import url("@fontsource-variable/playfair-display");
@import url("@fontsource/poppins/400.css");
@import url("@fontsource/poppins/500.css");
@import url("@fontsource/poppins/600.css");

:root {
  --font-heading: "Playfair Display Variable", sans-serif;
  --font-body: "Poppins", sans-serif;
  --black: #000000;
  --neutral-100: #fafafa;
  --neutral-200: #d9d9d9;
  --neutral-400: #8d8d8d;
  --neutral-500: #424242;
  --primary-200: #cad1c6;
  --primary-300: #b8c1b2;
  --primary-400: #90998b;
  --primary-500: #576250;
  --primary-600: #464d43;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITY */

.sr-only {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
  border-width: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* UI */

.button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 0.5rem 2rem;

  color: var(--white);
  text-align: center;

  background-color: var(--primary-500);
  border: none;
  border-radius: 0.5rem;
}

.button.vertical {
  flex-direction: column;
}

.heading {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-500);
  text-align: center;
}

.drawer-backdrop {
  position: fixed;
  z-index: 20;
  inset: 0;

  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.25rem);
}

.drawer-backdrop[data-open="true"] {
  visibility: visible;
}

.drawer-toggle {
  position: relative;
  z-index: 30;
}

.drawer-content {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  height: 100dvh;
  padding: 0.5rem;

  visibility: hidden;
  background-color: var(--white);
}

.drawer-content[data-open="true"] {
  visibility: visible;
}

.icon-button {
  cursor: pointer;

  padding: 0.25rem;

  color: var(--white);

  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
}

.icon-button.secondary {
  color: var(--primary-400);
}

.icon-button[data-open="true"] {
  color: var(--neutral-500);
}

.input {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 0.5rem 1rem;

  background-color: var(--white);
  border: 1px solid var(--neutral-200);
  border-radius: 0.5rem;
}

.input::placeholder {
  color: var(--neutral-400);
  opacity: 1;
}

.link {
  color: var(--white);
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  padding: 0.75rem;

  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.service-card img {
  transform: translate3d(0px, 0px, 0.1px);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0.5rem;
}

.service-card-title {
  font-weight: 500;
  color: var(--primary-400);
  text-align: center;
}

/* LAYOUT */

.button-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.desktop-nav {
  display: none;
  gap: 2.5rem;
  align-items: center;
}

.desktop-links {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  color: var(--white);
}

.desktop-icon-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--white);
}

.top-header {
  position: absolute;
  z-index: 50;

  display: flex;
  align-items: center;

  width: 100%;
  padding: 2rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-navlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* align-items: center; */
  justify-content: center;

  height: 100%;
}

.mobile-navlist li {
  display: flex;
  align-items: center;
}

.drawer-link {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 300ms;
}

.drawer-link:hover {
  background-color: var(--neutral-200);
}

.hero {
  position: relative;
  z-index: 1;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  max-width: 48rem;
  padding: 0 2rem;
}

.hero-background {
  position: relative;
  z-index: 1;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.hero p {
  color: var(--primary-400);
  text-align: center;
}

.hero-background::after {
  content: "";

  position: absolute;
  z-index: 1;
  bottom: -10%;

  width: 100%;
  height: 20%;

  background-color: var(--white);
  border-radius: 100%;
}

.locations {
  display: grid;
  gap: 1.5rem;
  align-items: center;

  margin-bottom: 3rem;
  padding: 0 1rem;
}

.locations-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.locations-content {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.location-card {
  position: relative;

  overflow: hidden;
  display: flex;

  border-radius: 0.5rem;

  transition: transform 300ms;
}

.location-card.skeleton {
  background-color: var(--primary-500);
}

.location-card:hover {
  transform: scale(1.025);
}

.location-card img {
  transform: translate3d(0px, 0px, 0.1px);
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.location-card a {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.location-card p {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;

  font-weight: 500;
  color: var(--white);
}

.featured {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  padding: 0 1rem;
}

.featured-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-400);
}

.featured-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.featured-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
}

.featured-content img {
  transform: translate3d(0px, 0px, 0.1px);
  height: auto;
  object-fit: cover;
}

.featured-subcontent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.featured-counter {
  display: flex;
  gap: 0.25rem;
  align-items: center;

  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-500);
}

.featured-counter span:last-child {
  color: var(--primary-300);
}

.featured-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.featured p {
  color: var(--primary-400);
}

.featured-subheader {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
}

.featured-subheader .heading {
  font-size: 2rem;
  text-align: initial;
}

.featured-subheader span {
  font-size: 0.875rem;
  color: var(--primary-400);
}

.featured-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-buttons button {
  color: var(--primary-300);
}

.featured-buttons button:hover {
  color: var(--neutral-500);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin-top: 3rem;
  padding: 1.5rem 1rem;
}

.services-background {
  background-color: var(--neutral-100);
  border-radius: 0.5rem;
}

.services-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.services-header-title {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-500);
}

.services-header-details {
  color: var(--primary-300);
}

.services-display {
  position: relative;

  display: grid;
  gap: 1rem;
  align-items: center;

  padding: 0 2rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  margin-top: 3rem;
  padding: 0 1rem;
}

.portfolio-header {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  color: var(--primary-400);
}

.portfolio-display {
  display: grid;
  gap: 0.5rem;
}

.portfolio-card {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;

  border-radius: 0.5rem;
}

.portfolio-card img {
  transform: translate3d(0px, 0px, 0.1px);
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.portfolio-card-header {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-bottom: 0.5rem;

  color: var(--white);

  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.portfolio-card-header h6 {
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--neutral-200);
  text-transform: uppercase;
}

.portfolio-card-header p {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

.testimonials {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;

  margin-top: 3rem;
  padding: 3rem 1rem;
}

.testimonials-background {
  background-color: #585b56;
}

.testimonials-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

.testimonials-header h6 {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

.testimonials-header p {
  font-family: var(--font-body);
  color: var(--primary-300);
  text-align: center;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial-card-content {
  display: flex;
  gap: 1rem;

  font-family: var(--font-body);
  color: var(--neutral-100);
  text-align: center;
}

.testimonial-card-quote {
  font-family: var(--font-heading);
  font-size: 8rem;
  color: var(--primary-600);
}

.testimonial-card-avatar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  color: var(--white);
}

.testimonial-card-avatar img {
  transform: translate3d(0px, 0px, 0.1px);

  aspect-ratio: 1 / 1;
  max-height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

.testimonials-pager {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.testimonials-pager .icon-button {
  color: var(--primary-400);
  transition: color 300ms;
}

.testimonials-pager .icon-button:hover {
  color: var(--white);
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem 1rem;
}

.contact-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.contact-header h6 {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-500);
}

.contact-header p {
  color: var(--primary-300);
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-form-header {
  font-family: var(--font-body);
  font-weight: 500;
  color: var(--primary-500);
}

.contact-form-information {
  display: grid;
  gap: 0.5rem;
}

.contact-form-about {
  display: grid;
  gap: 0.5rem;
}

.contact-location {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-location img {
  border-radius: 0.5rem;
}

.contact-location-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-location-header {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  color: var(--primary-500);
}

.contact-location p {
  color: var(--primary-400);
}

.contact-socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-socials-header {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  color: var(--primary-500);
}

.contact-socials-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-socials-buttons .icon-button {
  color: var(--primary-400);
}

.footer-background {
  background-color: var(--neutral-500);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: var(--font-body);
  color: var(--neutral-400);
}

.footer-socials {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* MEDIA QUERIES */

@media (min-width: 641px) {
  .container {
    max-width: 641px;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 769px;
  }

  .hero .heading {
    font-size: 3.5rem;
  }

  .hero p {
    width: 75%;
  }

  .locations-content {
    gap: 1rem;
  }

  .featured-section {
    padding: 3rem 2rem;
  }

  .services {
    flex-direction: row;
    padding: 1.5rem 2rem;
  }

  .services-header {
    padding: 0;
  }

  .services-display {
    bottom: -3rem;

    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;

    padding: 0;
  }

  .portfolio-display {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-links {
    flex-direction: row;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .featured-content img {
    max-width: 22rem;
  }

  .featured-content {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1025px;
  }

  .drawer {
    display: none;
  }

  .desktop-nav {
    display: flex;
  }

  .hero {
    padding: 0;
  }

  .locations-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1281px) {
  .container {
    max-width: 1040px;
  }
}
