@import "./utils/variables";
@import "./utils/breakpoints";

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  margin-top: 3rem;
  padding: 0 $mobilePadding;

  @include media("medium") {
    padding: 0;
  }

  &-header {
    font-family: var(--font-body);
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    color: var(--primary-400);
  }

  &-display {
    display: grid;
    gap: 0.5rem;

    @include media("medium") {
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
