@import "./utils/variables";
@import "./utils/breakpoints";

.services {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin-top: 3rem;
  padding: $mobilePadding;

  @include media("medium") {
    flex-direction: row;
  }

  &-background {
    background-color: var(--neutral-100);
    border-radius: 0.5rem;
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &-header-title {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-500);
  }

  &-header-details {
    color: var(--primary-300);
  }

  &-display {
    position: relative;

    display: grid;
    gap: 1rem;
    align-items: center;

    @include media("medium") {
      bottom: -3rem;
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
  }
}
